@media only screen and (min-width: 64rem) {

    header, main, footer {
        max-width: 1100px;
        margin: 0 auto;
    }

    
    /********* HAMBURGER ********/
    .hamburger {
        display: none;
    }

    /********* NAVIGATION MENU ********/
    .nav-links {
        display: block;
        border-bottom: none;
    }

    .nav-links ul {
        display: flex;
        margin-left: 30rem;
    }

    .nav-links a {
        border: none;
        width: auto;
    }

    header aside {
        padding-left:30rem;
    }

    /********** Attendance Section **********/
    .attendance-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    /********** FOOTER SECTION **********/
    footer {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        text-align: left;
        margin-top: 20px;
    }
}