@media only screen and (min-width: 38rem) {
    /*************** HAMBURGER **************/
    .hamburger {
        margin-left: 30rem;
    }

    .hero-section .hero-text {
        left: 45%;
        width: 24rem;
    }

}